[Unit]
Description=Creation de snapshot de tous les containers separement puis suppression des vieux snapshots


[Service]
Type=simple
ExecStart=/usr/bin/zfs snapshot -r {{pool_name}@$(date)

[Install]
WantedBy=lxc_containers_snapshot.timer
