[Unit]
Description=Creation de snapshot de tous les containers separement puis suppression des vieux snapshots


[Service]
Type=simple
ExecStart=/root/snapshot-zfs.sh

[Install]
WantedBy=lxc_containers_snapshot.timer
